*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-appearance: none;
}

body{
	color: #575757;
	font-family: 'Open Sans', Arial, sans serif;
	text-align: center;
}

p{
    background-color: #575757;
    border-radius: 15px;
    color: #fff;
    display: table;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1{
	font-size: 24pt;
	font-family: 'Brandon Grotesque Black';
	text-transform: uppercase;
}

h2{
	font-size: 12pt;
}


#add-items {
	opacity: 0.3;
	background-color: #909090;
	border: none;
	border-radius: 5px;
	color: #fff;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
    width: 500px;
}


input[type=text]:focus {
	border: none;
	outline: none;
}


button {
	opacity: 0.3;
	background-color: #909090;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
}

button:hover{
	background-color: #575757;
}

#heading{
	background-color: #f5f5f5;
	padding-bottom: 30px;
	padding-top: 30px;
}

}
.full-width{
	width: 500px;
}

.strike{
	text-decoration: line-through;
}

#footing{
	height: 100px;
	background-color: #f5f5f5;
	margin-top: 30px;
}


